<p>Thank you very much for trying and using GoHealthNow.  We want to share
with you a few new and exciting developments in recent months.</p>

<p>First of all, new versions (both Android and iOS) of GoHealthNow have
been released in early September.  Please update it soon.</p>

<p>In the new version, texts are larger with high contrast, so they are
easy for you to see.</p>

<p>Also food recognition from photos works in Auto-Estimate of the Diet
input.  Though it can only recognize 40 or so types of popular North
American dishes, we are constantly improving and expanding. It
provides a fun and easy way to log your meal and snacks, with an
estimated nutritional values, which you can always manually adjust.
If we cannot recognize your food, please use Search with keywords to
get accurate nutrition information.</p>

<p>Another great feature of GoHealthNow is its Online Logbook. Go to
 <a href="https://myaccount.glucoguide.com">https://myaccount.glucoguide.com</a></p>
from a computer or tablet for a complete overview of your data, charts
and trends. You can see a Demo Logbook there! Do not use your
smartphones as the screens are too small. You can print your logbook
to bring to your healthcare providers!</p>

<p>A GoHealthNow Tutorial is also provided <a href="http://gohealthnow.ca/Tutorial_GlucoGuide.pdf">here</a></p>

<p>Diabetes Care is in your hand with GoHealthNow.  This revolutionary App
helps you to better manage your diabetes, as shown in a Clinical Trial
at Western University.</p>

<p>You can email us with any feedback and suggestions, or any technical
questions, to <a href="mailto:support@glucoguide.com?Subject=Feedback%20for%20GlucoGuide">support@glucoguide.com</a>. We'd love to hear from you, and
we are always improving!</p>
