<section data-ng-controller="AdminsUserSearchController" data-ng-init="searchUsers()" >
    <div class="page-header">
        <h1 class="text-center">Search Result for: {{searchContent}} </h1>
    </div>
<style type="text/css">
	.sortorder:after {
		content: '\25b2';
	}
	.sortorder.reverse:after {
		content: '\25bc';
	}
</style>


	<br>
	<br/>
	<div class="row">
		<table class="table table-hove table-striped display nowrap  dtr-inline" id="userList">
			<tr>
				<th>
					Email
					<!--<a href="" ng-click="order('email')">Email</a>-->
					<!--<span class="sortorder" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></span>-->
				</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Gender</th>
				<th>DoB</th>
				<!--<th>Weight</th>-->
				<!--<th>Height</th>-->
				<!--<th>Waist Size</th>-->
				<th>Access Code</th>
				<!--<th>BMI</th>-->
				<th>Registration Time</th>
				<th>Role</th>
				<!--<th>Points</th>-->
				<th>last Login Time</th>
				<th>Profile</th>
				<th>Password</th>
			</tr>

			<!--<tr data-ng-repeat="user in users | filter:search | orderBy:predicate:reverse">-->
			<tr data-ng-repeat="user in users">
				<th>
					<a data-ng-href="/#!/user/records/{{user.userID}}">{{user.email}}</a>
				</th>
				<!--<th>{{user.email}}</th> -->
				<th>{{user.firstName}}</th>
				<th>{{user.lastName}}</th>
				<th>{{user.gender === 0 ? "Male":"Female"}}</th>
				<th>{{user.dob}}</th>
				<!--<th>{{user.weight}}</th>-->
				<!--<th>{{user.height}}</th>-->
				<!--<th>{{user.waistSize}}</th>-->
				<th>{{user.accessCode}}</th>
				<!--<th>{{user.bmi}}</th>-->
				<th>{{user.registrationTime | date:'yyyy-MM-dd HH:mm:ss' }}</th>
				<th>{{user.roles[0]}}</th>
				<!--<th>{{user.points}}</th>-->
				<th>{{user.lastLoginTime | date:'yyyy-MM-dd HH:mm:ss'}}</th>
				<th><a data-ng-href="/#!/admin/editUserProfile/{{user._id}}"><button class="btn btn-default">Edit</button></a></th>
				<th><a data-ng-href="/#!/admin/editUserPassword/{{user._id}}"><button class="btn btn-default">Change</button></a></th>
			</tr>
		</table>
	</div>

	<div class="text-center">
		<pagination  ng-model="currentPage" total-items="totalNum" max-size="maxSize" rotate="false" boundary-links="true"></pagination>
	</div>
	<!--<pagination  total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
</section>
