<!--<div class="col-xs-3" ng-show="glucoses">-->
    <!--<div ng-repeat="glucose in glucoses" popover="{{glucose.popovercontent}}" popover-trigger="mouseenter" popover-title="{{glucose.mealInfo.mealType}}">-->
        <!--<b>{{glucose.title }}</b>: {{glucose.level}} <br>-->
        <!--Time: {{glucose.recordedTime | date:'HH:mm:ss'}}-->
		<!--<div  ng-if="glucose.mealInfo">-->
			<!--<a href="#" title="{{glucose.mealInfo.mealType}}" data-toggle="popover" data-trigger="hover" data-content="Time: {{glucose.mealInfo.recordedTime | date:'HH:mm:ss'}}\n Calories: {{glucose.mealInfo.cals | number:1}} kcals "></a>-->
		<!--</div>-->
		<!--<script>-->
			<!--$(document).ready(function(){-->
				<!--$('[data-toggle="popover"]').popover();-->
			<!--});-->
		<!--</script>-->
        <!--<hr ng-hide="$last">-->
    <!--</div>-->

<!--</div>-->


<div ng-show="glucoses">
	<b>{{title }}</b>: {{glucoses.level}} <br>
	Time: {{glucoses.recordedTime | date:'HH:mm'}}
</div>
<div  ng-hide="glucoses">
    <b>{{title}}</b><br>
    Not Recorded
</div>
<br>
