
	<div class="modal-header">
		<div class="modal-title">
			<h3>My Tips</h3>
		</div>
	</div>

	<div class="modal-body">
		<div class="row" ng-repeat="tip in tips">
			<hr ng-if="tip != tips[0]" style="width: 100%; color: #EEEEEE; height: 1px 0; background-color:#EEEEEE; margin: 18px 0;" />
			<div  ng-if="tip.medias.length != 0" class="col-md-6 col-md-offset-3">
				<a href="{{tip.medias[0].uri}}">
					<img  ng-src="{{tip.medias[0].uri}}" class="img-thumbnail" >
				</a>
			</div>
			<div  ng-if="tip.description" class="col-sm-12 col-xs-12">
				<strong>Content:</strong>
				<span>{{tip.description}} </span>
				<br/>
				<small class="pull-right">{{tip.signature}}</small>
				<br/>
				<small class="pull-right">{{tip.create_time | date:'MMM d, h:mm a'}}</small>
			</div>
			<div ng-if="tip.link" class="col-sm-12 col-xs-12">
				<p>
				<strong>URL:</strong>
				<a href="{{tip.link}}">{{tip.link}}</a>
				</p>
			</div>
		</div>

	</div>

	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
	</div>
