<!DOCTYPE html>
<html ng-app="gg.nart">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Online Logbook</title>

	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<script src="/lib/angular/angular.js"></script>
	<script src="/lib/angular-animate/angular-animate.js"></script>
	<script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="./js/nart.js"></script>
</head>
<body>
<style>
	.active {
		background : red;
	}

	.selectedImage {
		padding: 0;
		border: 5px solid green;
		box-shadow: 0 0 5px #000;

		background-color: rgba(0, 0, 0, 0.1);
		text-align: center;
		color: #fafafa;

	}

	.selectedImage.overlay {
		display: block;
	}

	.overlay {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		text-align: center;
		color: #fafafa;
		border: 2px solid #fafafa;
	}

</style>
<div ng-controller="NeuralArtDemoCtrl">


	<div class="container">
		<div class="row">
			<audio controls>
				<source src="http://localhost:3000/sample/audio_t2.m4a" type="audio/mp4">
				Your browser does not support the audio element.
			</audio>
			<div class="col-md-6">
				<h1>PHOTO</h1>
				<div>

					<div class="row">
						<div class="img-thumbnail col-md-3" data-ng-show="contentPhoto">
							<img class="img-responsive" ng-src="{{contentPhoto}}"/>
						</div>
					</div>

					<button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
							accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
						Select content photo</button>
					<br><br>
				</div>
			</div>

			<div class="col-md-6">
				<h1>STYLE</h1>

				<div class="col-xs-3  img" ng-repeat="image in imageList">
					<div class="overlay">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
					<img ng-src="{{image.url}}"
						 alt="{{image.name}}"

						 class="img-responsive"
						 ng-click="setActiveImage($index)"
						 ng-class="{selectedImage : activeImage === $index}">
				</div>

				<div class="col-xs-12">

					<div class="row">
						<div class="img-thumbnail col-md-3" data-ng-show="stylePhoto">
							<img class="img-responsive" ng-src="{{stylePhoto}}"/>
						</div>
					</div>

					<button type="file" ngf-select="uploadStyleFile($file, $invalidFiles)"
							accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
						Add style photo</button>
					<br><br>
				</div>

			</div>
		</div>
	</div>
</div>
</body>
</html>
