<section data-ng-controller="BrandController" data-ng-init="updateinit()">
	<div class="page-header">
		<h1>Edit Brand</h1>
	</div>
	<div class="col-md-12">
		<form name="brandForm" class="form-horizontal" data-ng-submit="brandForm.$valid && update()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': brandForm.brandname.$dirty && brandForm.brandname.$invalid }">
					<label class="control-label" for="brandname">Brand Name</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="brand.name" id="brandname" class="form-control" placeholder="Brand Name" >
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': brandForm.accesscode.$dirty && brandForm.accesscode.$invalid }">
					<label class="control-label" for="accesscode">Access Code</label>
					<div class="controls">
						<input name="accesscode" type="text" data-ng-model="brand.accessCode" id="accesscode" class="form-control" placeholder="Access Code" required>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': brandForm.link.$dirty && brandForm.link.$invalid }">
					<label class="control-label" for="link">Home Page</label>
					<div class="controls">
						<input type="text" name="link" data-ng-model="brand.homePage" id="link" class="form-control" placeholder="Link URL : http://www.google.ca"></input>
						<!--type="url"-->
					</div>
				</div>
				<div class="form-group">
					<div ng-show="medias" ng-class="{ 'has-error': brandForm.photos.$dirty && brandForm.photos.$invalid }">
						<label class="control-label" for="photos">Logo</label>
						<div class="row">
							<div class="col-sm-1 btn" ng-repeat="media in medias">
									<img class="img-responsive" ng-click="selectmedia(media)" ng-src="{{media.uri}}"/>
							</div>
						</div>
						<div class="row">
							<div class="img-thumbnail">
									<img class="img-responsive"  ng-src="{{premedia.uri}}" />
							</div>
						</div>
					</div>
					<div class="controls">
						<div class="btn btn-primary" id="photos" ngf-select ngf-multiple="true" ng-model="photos">Upload Logo</div>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
