<section data-ng-controller="TopicsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="topic.user.email"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.userID == topic.creator.userID">
		<a class="btn btn-primary" href="/#!/topics/{{topic._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="topic.create_time | date:'mediumDate'"></span>
			by
			<span ng-show="topic.signature" data-ng-bind="topic.signature"></span>
			<span ng-hide="topic.signature" data-ng-bind="topic.creator.email"></span>
		</em>
	</small>

	<p class="lead" data-ng-bind="topic.description"></p>
	<a href="{{topic.link}}" ng-show="topic.link">{{topic.link}}</a>
	<div ng-show="topic.medias.length">
		<label class="control-label" for="photo">Photo</label>
		<div class="row">
			<div class="col-sm-1 btn" ng-repeat="media in topic.medias">
					<img class="img-responsive" ng-click="selectmedia(media)" ng-src="{{media.uri}}" />
			</div>
		</div>
		<div class="row">
			<div class="img-thumbnail">
					<img class="img-responsive"  ng-src="{{premedia.uri}}" />
			</div>
		</div>
	</div>
	<div class="jumbotron" data-ng-show="topic.reference">
		<h4>Reference: </h4>
		<a data-ng-href="/#!/logbook/{{question.userID}}">
			<button class="btn btn-default">Logbook</button></a>
		<div class="page-header">
			<p data-ng-bind="question.questionContent"></p>
		</div>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="question.recordedTime | date:'mediumDate'"></span>
				<!-- by
				<span data-ng-bind="question.userID.email"></span> -->
			</em>
		</small>

		<div ng-show="question.medias.length">
			<label class="control-label" for="photo">Photo</label>
			<div class="row">
				<div class="col-sm-1 btn" ng-repeat="media in question.medias">
						<img class="img-responsive" ng-click="selectqmedia(media)" ng-src="{{media.uri}}" />
				</div>
			</div>
			<div class="row">
				<div class="img-thumbnail">
						<img class="img-responsive"  ng-src="{{preqmedia.uri}}" />
				</div>
			</div>
		</div>
	</div>
	<!--
	<h4>Comments:</h4>
	<div class="page-footer" ng-repeat="comment in topic.comments">
		<div class="pull-right" data-ng-show="authentication.user.userID == comment.user.userID">
			<a class="btn btn-primary" data-ng-click="updateComment(comment)">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="removeComment(comment)">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<blockquote>
			<strong data-ng-bind="comment.content"></strong>
			<cite class="clearfix"><small data-ng-bind="comment.user.email"></small></cite>
		</blockquote>
	</div>
	<form name="commentForm" ng-submit="addComment(comment)">

    <blockquote>
      <strong>{{comment.content}}</strong>
      <cite class="clearfix"><small data-ng-bind="authentication.user.email"></small></cite>
    </blockquote>


    <h4>Submit a Comment</h4>
    <fieldset class="form-group">
      <textarea class="form-control" ng-model="comment.content" placeholder="Write a short comment of the topic..." title="Comment"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Submit Comment" />
    </fieldset>
		<div data-ng-show="error" class="text-danger">
			<strong data-ng-bind="error"></strong>
		</div>
  </form> -->
</section>
