<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	{% if name %}
	<p>Dear {{name}},</p>
	{% else %}
	<p>Dear GlucoGuide user,</p>
	{% endif %}
	{% autoescape false %}{{ content }}{% endautoescape %}
	<br>
	<p>Regards,</p>
	<p>The {{appName}} Support Team</p>
</body>
</html>
