<p>Thanks a lot for trying GlucoGuide.  I want to give you a quick update
about our GlucoGuide system, a spin-off from R&D of the Western
University.</p>

<p>November is the Canada's Diabetes Month, and we have participated
several CDA (Canadian Diabetes Association) events. See a few photos
in the CDA Toronto Expo and also in <a href="https://www.glucoguide.com/event">our event page</a>.  Several celebs also came to see our system.
:)</p>

<p>On Nov 28, a brand new version of GlucoGuide will be released, and we
will run a joint seminar with CDA in London. We will make short
presentations, and then the GlucoGuide team will go to the audience to
answer your questions, help you install and try the new GlucoGuide
(free for all Canadians) if you wish. It would be a fun and exciting
event.</p>

<p>You are very welcome to come.  Please also forward this (or Tweet
this) to whoever you think might be interested.  Ultimately GlucoGuide
will benefit all people who live with diabetes.</p>

<p><img width="100%" src="https://www.glucoguide.com/assets/img/activity/GlucoGuide_with_Darryl%20Sittler_1.jpg"></img></p>
<p>Hockey Hall of Fame inductee Darryl Sittler stopped by the GlucoGuide tables to learn more about the mobile diabetes App from Dr. Charles Ling and his team. Darryl was recently diagnosed to have pre-diabetes.</p>
<p><img width="100%" src="https://www.glucoguide.com/assets/img/activity/GlucoGuide_with_JohnChick.jpg"></img></p>
<p>Dr. Charles Ling and his team are showing John Chick a live demo of the food recognition feature in GlucoGuide. John Chick, 2014 CFL All-Star, the West Division All-Star, the Riders Most Outstanding Player, Most Outstanding Defensive Player and two time Grey Cup Champion, was diagnosed with diabetes when he was 14 years old. John told GlucoGuide that about three years ago, he thought there could be a mobile diabetes app to better manage diabetes with photo recognition.</p>
<p><img width="100%" src="https://www.glucoguide.com/assets/img/activity/Poster_CDA_GG_Joint_Seminar_Nov28.jpg"></img></p>
<p><img width="100%" src="https://www.glucoguide.com/assets/img/activity/GlucoGuide_with_Hal_Johnson_and_Joanne_McLeod.jpg"></img></p>
<p>Getting really excited about healthy living for diabetes, with Hal Johnson and Joanne McLeod, Canada’s #1 Trusted Source for Healthy Living.</p>
